<div>
  <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu" id="mainNav">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item active"><a class="nav-link" href="" scroll-to-item scroll-to="#home" ng-click="therapy.scrollTo('Inicio')">Inicio</a></li> 
                                <li class="nav-item"><a class="nav-link" href="" scroll-to-item scroll-to="#games" ng-click="therapy.scrollTo('Juegos')">Videojuegos</a>
                                <li class="nav-item"><a class="nav-link" href="" scroll-to-item scroll-to="#performanceHabits" ng-click="therapy.scrollTo('Hábitos')">Hábitos de desempeño</a></li> 
                                
                                
                                <li class="nav-item submenu dropdown">
                                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estrategias</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="" scroll-to-item scroll-to="#parents" ng-click="therapy.scrollTo('Padres')">Padres</a></li>
                                        <li class="nav-item"><a class="nav-link" href="" scroll-to-item scroll-to="#teenagers" ng-click="therapy.scrollTo('Adolecentes')">Adolecentes</a></li>
                                    </ul>
                                </li> 
                                <li class="nav-item"><a class="nav-link" href="" scroll-to-item scroll-to="#contactUs" ng-click="therapy.scrollTo('Contáctanos')">Contáctanos</a></li>

                                <li class="nav-item"><a class="nav-link" href="#/login" ng-click="">
                                    <i class="fa fa-user"></i>
                                        Iniciar
                                    </a>
                                </li>
                            </ul>
                        </div> 
                    </div>
                </nav>
            </div>
        </header>
        <!--================End Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area" id="home">
            <div class="banner_inner">
                <div class="container">
                    <div class="row banner_content">
                        <div class="col-xs-12 col-sm-6  col-md-6">
                            <div class="hide_phone" center>
                                <img class="img-fluid" style="max-width: 75%;" src="img/logo_final.png" alt="" ng-click="therapy.algo()">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6  col-md-6">
                            <div center>
                                <img class="img-fluid" src="img/3_amigas.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

         <!--================Games Area =================-->
        <section class="feature_area p_120" id="games">
            <button class="btnGoHome btn btn-primary btn-lg" href="" scroll-to-item scroll-to="#home" ng-click="therapy.scrollTo('Inicio')">
                <i class="fa fa-arrow-up fa-2x"></i>
            </button>
            <div class="container">

                <div class="main_title">
                    <h1 class="textTitleOrange" >VIDEOJUEGOS</h1>
                </div>
                
                <div class="interior_inner row">
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <img class="img-fluid" src="img/dayana_talk1.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 offset-md-1">
                        <div class="interior_text">
                        <h4 class="textTitlePurple" >¿QUE ES UN VIDEOJUEGO?</h4>

                            <p class="textBasic1">Un videojuego es definido como cualquier tipo de software que genera entretenimiento por computadora o consolas portátiles, usando cualquier plataforma electrónica y la participación de uno o varios jugadores en un entorno físico o de red.</p>

                            <p class="textBasic1" >Actualmente los videojuegos <b>son la máxima puerta de entrada en las TICS</b> tanto para los niños como para los jóvenes, puesto que a través de los mismos las personas logran ponerse en contacto fácilmente con el dominio en el mundo de las nuevas tecnologías y la comunicación.
                            <br><br>
                            Permiten además desarrollar variedad de habilidades y potencialidades que contribuyen a los jugadores, así como también dichos videojuegos pueden ser útiles en las relaciones sociales que se promueven por medio de la práctica y experiencia del juego.</p>
                        </div>
                    </div>
                </div> 

                <div class="main_title">
                    <h1 class="textTitleBlue" >CLASIFICACÍON DE VIDEOJUEGOS</h1>
                                       
                </div>
                <div class="interior_text">
                   <p class="textBasic1" style="padding-left: 60px; padding-right: 60px;">La siguiente clasificación la realiza el Dr. Pere Marqués Graells en un estudio sobre videojuegos realizado en la Universidad Autónoma de Barcelona para el Departamento de Pedagogía Aplicada en la facultad de Educación.</p>   

                </div>
              

                <div class="interior_inner row" >
                
                    <div id="slider1" class="csslider infinity inside"  style="margin-left: 100px;">
                        <input type="radio" name="slides" id="slides_1" checked />
                        <input type="radio" name="slides" id="slides_2" />
                        <input type="radio" name="slides" id="slides_3" />
                        <input type="radio" name="slides" id="slides_4" />
                        <input type="radio" name="slides" id="slides_5" />
                        <input type="radio" name="slides" id="slides_6" />
                        <input type="radio" name="slides" id="slides_7" />
                        <ul>
                            <li style="background-image: url('img/tipo_juegos/arcade.jpg'); opacity: 0.9">                               
                                <p class="textBasic1Slider" ><b style="font-size: 20px;">Arcade</b>
                                <br>  
                                indican los tipos de juegos de plataforma y luchas encontrando diversidad como: Pacman, Mario, Sonic, Doom, Quake, Street Fighter, Arcanoid, los cuales contribuyen en la orientación espacial de los estudiantes.</p>
                            </li>

                            <li style="background-image: url('img/tipo_juegos/deporte.jpg'); opacity: 0.9">                               
                                <p class="textBasic1Slider" ><b style="font-size: 20px;">Deportes</b>
                                <br>  
                                Establecen los principales juegos como: FIFA, PC Fútbol, NBA, Formula I Grand Prix, Need For Speed, en los cuales permiten la profundización en el conocimiento de las reglas, normas o estrategias de los deportes.</p>
                            </li>

                            <li style="background-image: url('img/tipo_juegos/rol_avantura.jpg'); opacity: 0.9">                               
                                <p class="textBasic1Slider" ><b style="font-size: 20px;">Rol y aventura</b>
                                <br>  
                                Se derivan diversos juegos como: King Quest, Indiana Jones, Monkey Island, Final Fantasy, Tomb Raider, Pokémon, Última Online. Permitiendo proporcionar información clara para constituir una fuente de motivación.</p>
                            </li>

                            <li style="background-image: url('img/tipo_juegos/simulador.jpg');  opacity: 0.9">                               
                                <p class="textBasic1Slider" ><b style="font-size: 20px;">Simuladores y constructores</b>
                                <br>  
                                Se encuentran juegos como: The Sims, Simuladores de manejo de barcos, autos, aviones, simuladores de mecánica, cirugia, construcción. Permiten experimentar el funcionamiento de máquinas, fenómenos y situaciones, donde controlan estados de tensión excesiva en algunos alumnos, ya que están ante un modelo de representación simplificada de la realidad en la que se encuentran.</p>
                            </li>

                            <li style="background-image: url('img/tipo_juegos/estrategia.jpg');  opacity: 0.9">                               
                                <p class="textBasic1Slider" ><b style="font-size: 20px;">Estrategia</b>
                                <br>  
                                Juegos Como: Estratego, Warcraft, Age of Empires, Civilitation, Lemmings, Black & White, League of Legends, los cuales requieren de manejo de recursos como el tiempo, dinero, vidas, u objetos, relacionando los comportamientos o actuaciones de los rivales para así trazar estrategias que permitan lograr unos objetivos.</p>
                            </li>

                            <li style="background-image: url('img/tipo_juegos/puzzles.jpg');   opacity: 0.9">                               
                                <p class="textBasic1Slider" ><b style="font-size: 20px;">Puzzles y juegos de lógica</b>
                                <br>  
                                Juegos como: 7th.Guest, Tetris, desarrollan habilidades o destrezas como la percepción espacial, la lógica, la imaginación y la creatividad necesarias dentro del proceso de desarrollo de los seres humanos.</p>
                            </li>

                            <li style="background-image: url('img/tipo_juegos/trivia.jpg');  opacity: 0.9">                               
                                <p class="textBasic1Slider" ><b style="font-size: 20px;">Juegos de preguntas</b>
                                <br>  
                                Los siguientes juegos como: Trivial, Carmen Sandiego, Preguntados, Logo Quiz, donde en estos se realizan diversas preguntas que pueden servir para repasar determinados conocimientos de todo tipo.</p>
                            </li>
                        </ul>
                        <div class="arrows">
                            <label for="slides_1"></label>
                            <label for="slides_2"></label>
                            <label for="slides_3"></label>
                            <label for="slides_4"></label>
                            <label for="slides_5"></label>
                            <label for="slides_6"></label>
                            <label for="slides_7"></label>
                        </div>
                        <div class="navigation">
                            <div>
                                <label for="slides_1"></label>
                                <label for="slides_2"></label>
                                <label for="slides_3"></label>
                                <label for="slides_4"></label>
                                <label for="slides_5"></label>
                                <label for="slides_6"></label>
                                <label for="slides_7"></label>
                            </div>
                        </div>
                    </div>
                </div>  
                <br><br>  
                
                 <div class="main_title">
                    <h1 class="textTitlePink" >PEGI: PAN EUROPEAN GAME INFORMATION</h1>
                                       
                </div>
                <div class="interior_text">
                   <p class="textBasic1" style="padding-left: 60px; padding-right: 60px;">PEGI (Pan-European Game Information) utiliza un conjunto de criterios para delimitar la categorización por edades de un videojuego, para que los padres se informen al momento de tomar la decisión de efectuar la compra de juegos de ordenador.</p>   

                </div>
                <br>
                <div class="main_title">
                    <h1 class="textTitleRed" >ETIQUETAS DE EDAD- PEGI</h1>
                                       
                </div>
                <br>
                <div class="feature_inner row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature_item">
                            <img src="img/pegi_3.png" alt="">
                            <p class="textBasicPegi">Se establece para aquellos juegos que se consideran adecuados para todas las edades, puesto contienen lenguajes inapropiados, imágenes con sonidos que puedan generar emociones fuertes en niños pequeños y su nivel de violencia debe ser leve en forma cómica o animada.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature_item">
                            <img src="img/pegi_7.png" alt="">                            
                            <p class="textBasicPegi">Se incluyen juegos que contengan sonidos o parte escenográfica que pueda atemorizar a los infantes, con un nivel de violencia menor en forma no detallada o irreal.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="feature_item">
                            <img src="img/pegi_12.png" alt="">
                            <p class="textBasicPegi">Dentro de esta categoría se incluyen aquellos videojuegos que presenten un nivel de violencia un poco más grafica hacia personajes de fantasía; pueden encontrarse insinuaciones o posturas sexuales pero sin mantener un lenguaje soez.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="feature_item">
                            <img src="img/pegi_16.png" alt="">
                            <p class="textBasicPegi">En esta clasificación se aplica un nivel de violencia o actividad sexual relacionado con la vida real, incluyendo un lenguaje que puede considerarse inadecuado, visualizando el uso de alcohol y drogas.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="feature_item">
                            <img src="img/pegi_18.png" alt="">
                            <p class="textBasicPegi">Es considerada una categoría para adultos, la cual alcanza un nivel de violencia brutal, el uso de diferentes drogas consideradas ilegales y constante actividad sexual.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Games Area =================-->
        <!--================Performance Habits Area 1=================-->
        <section class="interior_area" id="performanceHabits">
            <button class="btnGoHome btn btn-primary btn-lg" href="" scroll-to-item scroll-to="#home" ng-click="therapy.scrollTo('Inicio')">
                <i class="fa fa-arrow-up fa-2x"></i>
            </button>
            <div class="container">
                <div class="interior_inner row">
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <img class="img-fluid" src="img/dayana_talk1.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 offset-md-1">
                        <div class="interior_text">
                        <h4 class="textTitleOrange" >PATRONES DE EJECUCIÓN</h4>

                            <p class="textBasic1" >Los patrones de ejecución hacen alusión a los hábitos, las rutinas, los roles y los rituales implementados en la participación satisfactoria que realiza el individuo dentro de las ocupaciones o actividades que se demandan en sus diferentes contextos.</p>

                            <p class="textBasic1" >Los hábitos hacen mención a la manera específica en que la persona interioriza y lleva a cabo una tarea la cual es útil o perjudicial al momento de desempeñarse en el diario vivir; por otro parte, las rutinas son todos aquellos procesos o comportamientos automáticos que permiten la formación de un patrón interno, el cual le provee una estructura de las diferentes actividades dentro de la vida diaria permitiendole al individuo desempeñarse de manera satisfactoria. </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 offset-md-1">
                        <div class="interior_text">
                            <h4 class="textTitleRed">HÁBITOS</h4>
                            <p class="textBasic1">Los hábitos son comportamientos automáticos que la persona interioriza al realizar acciones repetitivas. Estos suelen ser de gran utilidad cuando se es integrado de manera satisfactoria, ya que dan cumplimiento a la tarea de forma espontánea. </p>

                            <h4 class="textTitleBlue">RUTINAS</h4>
                            <p class="textBasic1">Son patrones de comportamiento observables y repetitivos que proveen la organización en las actividades de la vida diaria. Éstas pueden generar gratificación y satisfacción, o por el contrario ser perjudiciales impidiendo así el dar cumplimiento a las mismas. Para la formación de las rutinas se requiere de una estructuración del tiempo, el cual se ve integrado en el contexto y entorno que se desempeña el individuo. </p>           
                           
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <img class="img-fluid" src="img/salome_talk1.png" alt="" style="max-width: 130%">
                    </div>

                </div>
            </div>
        </section>
        <!--================End Performance Habits Area 1=================-->

        <!--================Performance Habits Area 2=================-->
        <section class="interior_area interior_two">
            <div class="container">
                <div class="interior_inner row">

                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <img class="img-fluid" src="img/zaida_talk1.png" alt="">
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 offset-md-1">
                        <div class="interior_text">
                            <h4 class="textTitlePurple">EFECTIVIDAD Y EFICACIA DE LOS HÁBITOS</h4>

                            <p class="textBasic1">Para Gary Kielhofner Los hábitos conservan la manera propia y aprendida de ejecutar las actividades en un entorno establecido.</p>

                            <p class="textBasic1">Estos hábitos representan la manera propia y única en la que los individuos ejecutan sus actividades.</p>

                            <p class="textBasic1"> Sin embargo, el establecimiento de hábitos no asegura a la persona mantener un estilo saludable, puesto que puede generar el cumplimiento de actividades, pero no la organización del tiempo destinado para llevarlas a cabo, produciendo así una manera inconstante de desarrollar las mismas.</p>
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="container">
                <div class="main_title" style="margin-bottom: 0px;">
                    <div class="interior_inner row" style="margin-bottom: 0px;">  

                        <div class="col-xs-12 col-sm-6 col-md-4">                            
                            <img class="img-fluid" src="img/number_3.png" alt="">
                        </div>                    

                        <div class="col-xs-12 col-sm-6 col-md-8" style="margin-top: 75px;">
                            <h1 class="textTitleAmber" style="text-align: left;">INFLUENCIAS DE LOS</h1>   
                            <h1 class="textTitleAmber" style="text-align: left;">HÁBITOS</h1>
                            <h1 class="textTitleAmber" style="text-align: left;">EN LAS OCUPACIONES DIARIAS</h1>   
                        </div>                        

                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <p class="textBasic2">Los hábitos suelen ser de gran influencia dentro del comportamiento de las personas en la ejecución de actividades de la vida diaria, ya sea en lo que hace, en cómo lo realiza y la manera en qué enfrenta las diferentes situaciones cotidianas; dichos hábitos son el reflejo innato que proyecta la manera en que el individuo aborda el diario vivir.</p>

                <div class="col-xs-12 col-sm-12 col-md-12">                            
                    <img class="img-fluid" src="img/letrero_flechas.png" alt="">
                    <br>
                </div>  
                    <br><br><br>
                </div>
            </div>
            
            <div class="container">
                <div class="interior_inner row">
    
                <div class="col-xs-12 col-sm-6 col-md-6 ">
                        <div class="interior_text">
                            <h4 class="textTitlePink">HÁBITOS DEL DESEMPEÑO OCUPACIONAL</h4>
                            <p class="textBasic1">Los individuos por naturaleza presentan una forma característica para desempeñar las diferentes actividades dentro de su diario vivir, ya sea actividades como acicalarse y vestirse, hacer la cama, preparar el café de la mañana, o actividades instrumentales, tales como, pagar las facturas o las cuentas, e ir al colegio o al trabajo.<a class="nav-link" ng-show="therapy.showMore1" ng-click="therapy.changeShow(therapy.showMore1, 1)"href="">Ver más</a></p>      

                            <p ng-hide="therapy.showMore1" class="textBasic1">Los hábitos pueden relacionarse con la idea que se maneja sobre etiqueta o modales a seguir para interactuar y mantener relaciones interpersonales, por tal razón se puede concluir que estos proyectan la forma en que los padres o mentores forman y enseñan.</p>

                            <p ng-hide="therapy.showMore1" class="textBasic1">Los hábitos reflejan la manera de desempeñar las diferentes actividades con el fin de lograr un objetivo rutinario, ya que suelen ser herramientas que contribuyen en nuestro desempeño diario para dar cumplimiento de manera satisfactoria a las demandas de los diferentes roles. <a class="nav-link" ng-hide="therapy.showMore1" ng-click="therapy.changeShow(therapy.showMore1, 1)"href="">Ver menos</a></p>
                           
                            
                        </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="interior_text">
                            <h4 class="textTitleGreen">HÁBITOS DISFUNCIONALES</h4>
                            <p class="textBasic1">Algunos de nuestros hábitos tienden a afectar nuestra rutina de manera negativa. Sin embargo, cuando esto sucede, somos conscientes de que debimos mantener otros hábitos que nos contribuyan satisfactoriamente; sin embargo, al presentar una desorganización en estos pueden convertirse no sólo en una molestia, sino también en una amenaza que limita nuestro bienestar. <a class="nav-link" ng-show="therapy.showMore2" ng-click="therapy.changeShow(therapy.showMore2, 2)" href="">Ver más</a></p>
                          
                            <p ng-hide="therapy.showMore2" class="textBasic1">La estructuración de hábitos se ve notoriamente influenciado por el entorno o contexto del individuo y las oportunidades con las que cuente para la adquisición de estos que le permita la formación de un patrón interno y la organización del tiempo que favorezca su desempeño dando valor no sólo a la interacción con su medio sino también al cumplimiento de sus tareas.</p>

                            <p ng-hide="therapy.showMore2" class="textBasic1">La estructuración de hábitos puede llegar a tomarse de manera inadecuada, creando algunos que pueden ser poco saludables para el desempeño de las personas viéndose así una alteración en el cumplimiento de obligaciones y compromisos a realizar. Por esta razón se dice que la introyección de hábitos puede amenazar no sólo el desempeño sino el bienestar del individuo.<a class="nav-link" ng-hide="therapy.showMore2" ng-click="therapy.changeShow(therapy.showMore2, 2)"href="">Ver menos</a></p>

                        </div>
                </div>
                </div>
            </div>
           
        </section>
        <!--================End Performance Habits Area 2=================-->

        <!--================Parents Area =================-->
        <section class="price_area p_120" id="parents">
            <button class="btnGoHome btn btn-primary btn-lg" href="" scroll-to-item scroll-to="#home" ng-click="therapy.scrollTo('Inicio')">
                <i class="fa fa-arrow-up fa-2x"></i>
            </button>
            <div class="container">
                <div class="main_title">
                    <h2>Estrategias Padres</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
                </div>
                <div class="price_item_inner row">
                    <div class="col-lg-4">
                        <div class="price_item">
                            <div class="price_head">
                                <div class="float-left">
                                    <h3>Standard</h3>
                                    <p>For the individuals</p>
                                </div>
                                <div class="float-right">
                                    <h2>£199</h2>
                                </div>
                            </div>
                            <div class="price_body">
                                <ul class="list">
                                    <li><a href="#">2.5 GB Free Photos</a></li>
                                    <li><a href="#">Secure Online Transfer Indeed</a></li>
                                    <li><a href="#">Unlimited Styles for interface</a></li>
                                    <li><a href="#">Reliable Customer Service</a></li>
                                    <li><a href="#">Manual Backup Provided</a></li>
                                </ul>
                            </div>
                            <div class="price_footer">
                                <a class="main_btn2" href="#">Purchase Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price_item">
                            <div class="price_head">
                                <div class="float-left">
                                    <h3>Standard</h3>
                                    <p>For the individuals</p>
                                </div>
                                <div class="float-right">
                                    <h2>£199</h2>
                                </div>
                            </div>
                            <div class="price_body">
                                <ul class="list">
                                    <li><a href="#">2.5 GB Free Photos</a></li>
                                    <li><a href="#">Secure Online Transfer Indeed</a></li>
                                    <li><a href="#">Unlimited Styles for interface</a></li>
                                    <li><a href="#">Reliable Customer Service</a></li>
                                    <li><a href="#">Manual Backup Provided</a></li>
                                </ul>
                            </div>
                            <div class="price_footer">
                                <a class="main_btn2" href="#">Purchase Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price_item">
                            <div class="price_head">
                                <div class="float-left">
                                    <h3>Standard</h3>
                                    <p>For the individuals</p>
                                </div>
                                <div class="float-right">
                                    <h2>£199</h2>
                                </div>
                            </div>
                            <div class="price_body">
                                <ul class="list">
                                    <li><a href="#">2.5 GB Free Photos</a></li>
                                    <li><a href="#">Secure Online Transfer Indeed</a></li>
                                    <li><a href="#">Unlimited Styles for interface</a></li>
                                    <li><a href="#">Reliable Customer Service</a></li>
                                    <li><a href="#">Manual Backup Provided</a></li>
                                </ul>
                            </div>
                            <div class="price_footer">
                                <a class="main_btn2" href="#">Purchase Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Parents Area =================-->

        <!--================Teenagers Area =================-->
        <section class="price_area p_120" id="teenagers">
            <button class="btnGoHome btn btn-primary btn-lg" href="" scroll-to-item scroll-to="#home" ng-click="therapy.scrollTo('Inicio')">
                <i class="fa fa-arrow-up fa-2x"></i>
            </button>
            <div class="container">
                <div class="main_title">
                    <h2>Estrategias Adolecentes</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
                </div>
                <div class="price_item_inner row">
                    <div class="col-lg-4">
                        <div class="price_item">
                            <div class="price_head">
                                <div class="float-left">
                                    <h3>Standard</h3>
                                    <p>For the individuals</p>
                                </div>
                                <div class="float-right">
                                    <h2>£199</h2>
                                </div>
                            </div>
                            <div class="price_body">
                                <ul class="list">
                                    <li><a href="#">2.5 GB Free Photos</a></li>
                                    <li><a href="#">Secure Online Transfer Indeed</a></li>
                                    <li><a href="#">Unlimited Styles for interface</a></li>
                                    <li><a href="#">Reliable Customer Service</a></li>
                                    <li><a href="#">Manual Backup Provided</a></li>
                                </ul>
                            </div>
                            <div class="price_footer">
                                <a class="main_btn2" href="#">Purchase Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price_item">
                            <div class="price_head">
                                <div class="float-left">
                                    <h3>Standard</h3>
                                    <p>For the individuals</p>
                                </div>
                                <div class="float-right">
                                    <h2>£199</h2>
                                </div>
                            </div>
                            <div class="price_body">
                                <ul class="list">
                                    <li><a href="#">2.5 GB Free Photos</a></li>
                                    <li><a href="#">Secure Online Transfer Indeed</a></li>
                                    <li><a href="#">Unlimited Styles for interface</a></li>
                                    <li><a href="#">Reliable Customer Service</a></li>
                                    <li><a href="#">Manual Backup Provided</a></li>
                                </ul>
                            </div>
                            <div class="price_footer">
                                <a class="main_btn2" href="#">Purchase Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price_item">
                            <div class="price_head">
                                <div class="float-left">
                                    <h3>Standard</h3>
                                    <p>For the individuals</p>
                                </div>
                                <div class="float-right">
                                    <h2>£199</h2>
                                </div>
                            </div>
                            <div class="price_body">
                                <ul class="list">
                                    <li><a href="#">2.5 GB Free Photos</a></li>
                                    <li><a href="#">Secure Online Transfer Indeed</a></li>
                                    <li><a href="#">Unlimited Styles for interface</a></li>
                                    <li><a href="#">Reliable Customer Service</a></li>
                                    <li><a href="#">Manual Backup Provided</a></li>
                                </ul>
                            </div>
                            <div class="price_footer">
                                <a class="main_btn2" href="#">Purchase Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Teenagers Area =================--> 

         <!--================Contact Us Area =================-->
        <section class="contact_area p_120" id="contactUs">
            <button class="btnGoHome btn btn-primary btn-lg" href="" scroll-to-item scroll-to="#home" ng-click="therapy.scrollTo('Inicio')">
                <i class="fa fa-arrow-up fa-2x"></i>
            </button>
            <div class="container">

                <div id="map"></div>
                
                <div class="row">
                    <div class="col-lg-3">
                        <div class="contact_info">
                            <div class="info_item">
                                <i class="lnr lnr-home"></i>
                                <h6>California, United States</h6>
                                <p>Santa monica bullevard</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-phone-handset"></i>
                                <h6><a href="#">00 (440) 9865 562</a></h6>
                                <p>Mon to Fri 9am to 6 pm</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-envelope"></i>
                                <h6><a href="#">support@colorlib.com</a></h6>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--================Contact Us Area =================-->       

        <!--================ start footer Area  =================-->    
        <footer class="footer-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Top Products</h6>
                            <ul class="list">
                                <li><a href="#">Managed Website</a></li>
                                <li><a href="#">Manage Reputation</a></li>
                                <li><a href="#">Power Tools</a></li>
                                <li><a href="#">Marketing Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget news_widgets">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>You can trust us. we only send promo offers, not a single spam.</p>      
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn">Get Started</button>        
                                    </div>                                  
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-1">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">Instagram Feed</h6>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="img/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-08.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>  
                </div>

                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-md-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    Copyright &copy;2018 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-md-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>


            </div>
        </footer>  



</div>       
        
		
